{% extends "base.html" %}

{% block bodyContent %}

<div class="messageForm">
	<form name="message" method="POST" action="">
		<div>
			{% if form.message.errors %}
			<div class="error">{{form.message.errors}}</div>
			{% endif %}
				<input class="messageBox" type="text" id="id_text" name="text" maxlength="240" ></input>
				<input type="submit" name="submit"
					value="send"></input>
		</div>
	</form>
</div>

<div class="messages">
	{% for message in messages %}
	<div>
		<span class="message" id="{{message.pk}}">{{message.text}}</span>
	</div>
	{% endfor %}
</div>


{% endblock bodyContent %}
